* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  width: 700px;
  padding: 1rem;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 36px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.number {
  color: #ced4da;
}
.text {
}
.icon {
  height: 24px;
  color: #087f5b;
}

.number,
.text,
.icon {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.hidden-box {
  grid-column-start: 2;
  font-weight: 100;
  display: none;
}

.open .hidden-box {
  display: block;
}

.open {
  border-top: 4px solid #087f5b;
}

.open .text,
.open .number {
  color: #087f5b;
}

.hidden-box ul {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  color: #868e96;
}

.hidden-box p {
  margin-bottom: 24px;
}
